@import url(http://fonts.googleapis.com/css?family=Vidaloka);

body {
	font-size: 16px;
	margin: 0px;
	padding: 10px;
}

header {
	background: #BAC9FF;
	padding: 0.5em 3em;
}

h1 {
	font-family: "Vidaloka", serif;
	font-size: 3em;
	color: #000;
	margin: 0.8em;
	float: left;
	padding: 0 2em;
}

p, nav, .title {
	font-family: Helvetica, sans-serif;
	color: #000;
	margin: 1em;
	line-height: 1.2em;
}

h2 {
	font-family: "Vidaloka", serif;
	font-size: 1.5em;
	font-weight: bold;
	text-transform: uppercase;
	float: left;
	padding: 1em;
}

a {
	text-decoration: none;
	color: #000;
}

nav {
	text-align: right;
	padding: .25em 4em;
	font-family: "Vidaloka", serif;
	font-size: 1.8em;
	text-transform: uppercase;
	background: #BAC9FF;
	margin: 5px;
	clear: left;
}

nav a:hover{
	color: #FF235A;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

#gallery-columns {
	width: 80%;
	margin: 20px;
	float: left;
	clear: left;
	padding: 1em 8em;
	text-align: center;
}

.gallery {
	position: relative;
	float: left;
	text-align: center;
	margin: 20px;
}

.title {
	position: absolute;
	bottom: 45%;
	left: 8%;
	color: #FF235A;
	opacity: 0;
	font-weight: bold;
	text-align: center;
	font-size: 2em;
}

div.gallery:hover .title{
	opacity: 1;
}

div.gallery:hover {
	opacity: 0.8;
}

article {
	width: 80%;
	margin: 20px;
	float: left;
	clear: left;
	padding: 0 8em;
	text-align: left;
}

.blog-title {
	display: block;
	padding: 0 1em;
	float: left;
	clear: left;
	line-height: 1em;
}

.blog-content {
	float: left;
	clear: left;
	padding: 0 1em;
}

div.blog-image img {
	display: block;
	float: left;
	margin: 10px;
	height: 200px;
	margin: 35px;
}

footer {
	text-align: center;
	padding: 3em;
	font-family: "Vidaloka", serif;
	font-size: 1em;
	text-decoration: none;
	color: #000;
}