@import url(https://fonts.googleapis.com/css?family=Raleway);

body {
	font-size: 16px;
	margin: 0px;
	padding: 10px;
}

header {
	padding: 0.5em 3em;
	background: #2b2b2b;
	width: 93%;
	float: left;
	clear: left;
	border-bottom: 6px #44FFAB;
}

h1 {
	font-family: "Raleway", sans-serif;
	font-size: 3em;
	color: #eee;
	margin: 0.8em;
	float: none;
	padding: 0 2em;
	text-align: center;
}

h2, h3, .title {
	font-family: "Raleway", sans-serif;
	font-size: 1.5em;
	font-weight: bold;
	float: left;
	color: #222;
}

h3 {
	font-size: 1.2em;
	font-weight: bold;
	color: #44FFAB;
	padding: 0.5em;
}

ul {
	padding: 1em 3em;
}

p, li {
	font-family: "Raleway", sans-serif;
	margin: 1em;
	color: #2b2b2b;
	line-height: 1.2em;
}

p {
	float: right;
}

a {
	text-decoration: none;
	color: #D6FFEB;
}

nav {
	text-align: center;
	padding: .25em 4em;
	font-family: "Raleway", sans-serif;
	font-size: 1.6em;
	margin: 5px;
	clear: left;
}

nav a:hover{
	color: #44FFAB;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

#main img {
	float: left;
	text-align: center;
	width: 50%;
	clear: right;
	position: relative;
}

.title-main {
	position: absolute;
	bottom: 30%;
	left: 15%;
	color: #fff;
	opacity: 0;
	font-weight: bold;
	text-align: center;
	font-size: 2em;
	font-family: "Raleway" sans-serif;
	padding: 2em;
}

div.main-images:hover .title-main{
	opacity: 1;
}

div.main-images:hover {
	opacity: 0.8;
}

#gallery-columns {
	width: 80%;
	margin: 1.2em;
	float: left;
	clear: left;
	padding: 1em 12em;
	text-align: center;
}

.gallery {
	position: relative;
	float: left;
	text-align: center;
	margin: 20px;
}

.title {
	position: absolute;
	bottom: 45%;
	left: 8%;
	color: #44FFAB;
	opacity: 0;
	font-weight: bold;
	text-align: center;
	font-size: 2em;
}

div.gallery:hover .title{
	opacity: 1;
}

div.gallery:hover {
	opacity: 0.8;
}

article {
	width: 80%;
	margin: 20px;
	float: left;
	clear: left;
	padding: 0 8em;
	text-align: left;
}

.blog-title {
	display: block;
	padding: 0 1em;
	float: left;
	clear: left;
	line-height: 1em;
}

.blog-content {
	float: left;
	clear: left;
	padding: 0 1em;
}

div.blog-image img {
	display: block;
	float: left;
	margin: 10px;
	height: 200px;
	margin: 35px;
}

footer {
	text-align: center;
	padding: 4em;
	font-family: "Raleway", sans-serif;
	font-size: 1em;
	text-decoration: none;
	color: #2b2b2b;
}