@import url(https://fonts.googleapis.com/css?family=Raleway);

body {
	font-size: 16px;
	margin: 0px;
	padding: 2px;
}

header {
	background: #2b2b2b;
	width: 100%;
	float: left;
	clear: left;
}

.logo {
	display: inline-block;
	position: relative;
}

.headline {
	display: inline-block;
}

h1 {
	font-family: "Raleway", sans-serif;
	font-size: 3.9625em;
	color: #eee;
	text-align: center;
	position: relative;
	bottom: 0.65em;
	display: inline-block;
}

h2, h3, .title {
	font-family: "Raleway", sans-serif;
	font-size: 1.5em;
	font-weight: bold;
	float: left;
	color: #222;
}

h3 {
	font-size: 1.2em;
	font-weight: bold;
	color: #44FFAB;
	padding: 0.5em;
}

ul {
	padding: 1em 3em;
}

p, li {
	font-family: "Raleway", sans-serif;
	margin: 1em;
	color: #2b2b2b;
	line-height: 1.2em;
}

p {
	float: right;
}

a {
	text-decoration: none;
	color: #D6FFEB;
}

nav {
	text-align: right;
	font-family: "Raleway", sans-serif;
	font-size: 1.6em;
	margin: 5px;
}

nav a:hover{
	color: #44FFAB;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

#main img {
	float: left;
	text-align: center;
	width: 50%;
	clear: right;
	position: relative;
}

.title-main {
	position: absolute;
	bottom: 30%;
	left: 15%;
	color: #fff;
	opacity: 0;
	font-weight: bold;
	text-align: center;
	font-size: 2em;
	font-family: "Raleway" sans-serif;
	padding: 2em;
}

div.main-images:hover .title-main{
	opacity: 1;
}

div.main-images:hover {
	opacity: 0.8;
}

#gallery-columns {
	width: 80%;
	margin: 1.2em;
	float: left;
	clear: left;
	padding: 1em 12em;
	text-align: center;
}

.gallery {
	position: relative;
	float: left;
	text-align: center;
	margin: 20px;
}

.title {
	position: absolute;
	bottom: 45%;
	left: 8%;
	color: #44FFAB;
	opacity: 0;
	font-weight: bold;
	text-align: center;
	font-size: 2em;
}

div.gallery:hover .title{
	opacity: 1;
}

div.gallery:hover {
	opacity: 0.8;
}

article {
	width: 80%;
	margin: 2em 2em 0 2em;
	float: left;
	clear: left;
	padding: 0 8em;
	text-align: left;
}

.blog-title {
	display: block;
	padding: 0 1em;
	float: left;
	clear: left;
	line-height: 1em;
}

.blog-content {
	float: left;
	clear: left;
	padding: 0 1em;
}

div.blog-image img {
	display: block;
	float: left;
	margin: 10px;
	height: 200px;
	margin: 35px;
}

footer {
	width: 100%;
	text-align: center;
	padding: 2em;
	font-family: "Raleway", sans-serif;
	font-size: 1em;
	font-style: italic;
	color: #fff;
	float: right;
	background: #2b2b2b;
}


@media (max-width: 800px) {
	body {
		font-size: 10px;
		padding: 1px;
	}
	.logo img {
		width: 95px;
	}
	nav {
		font-size: 1.8em;
	}

	.gallery img {
		width: 15em;
		float: none;
	}
	footer {
		font-size: 1.5em;
	}
	#gallery-columns {
		padding: 2em 6.5em;
		width: 80%;
	}
	article {
		font-size: 1.6em;
		padding: 1em 3em 0 3em;
		margin: 1em 1em 0 1em;
	}
}	

@media (max-width: 600px) {
	body {
		font-size: 10px;
	}
	#main img {
		float: none;
		width: 100%;
	}
	#gallery-columns {
		padding: 1.8em 5em;
	}
	nav a {
		display: inherit;
	}
	h2{
		font-size: 1.2em;
	}
	h3 {
		font-size: 1.1em
	}
	p, li {
		font-size: 1em;
	}
	li {
		margin: 0;
	}
	article {
		margin: 0 3em;
	}
}